{% load static %}

<style>
    * {
    margin: auto;
    padding: auto;
    background-color: #f8f8f8;
}

.lines h3{
    font-size: 26px;
    border-bottom: 2.5px solid #dc6405;
    height: 45px;
    width: 160px;
    text-align: center;
    padding: 2px;
}

.main-container{
   height: 100%;
   width: 100%;
    background: #e8e8e8;
    padding: 5px;
}

.card-container{
    padding: 5px;
    height: 170px;
    width: 350px;
    background: #fff;
    border-radius: 5px;
}

</style>



<link href="{% static 'css/shop.css' %}">
</br>
</br>
<div class="lines">
    <h3>All Shops</h4>
    </br>
    <hr>   
</div>
</br>
</br>


<div class="main-container">
    <div class="card-container">
        <img src="">
        <div class="footer">
            <p>Hello</p>
        </div>
    </div>
</div>